<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="BarrierFreeTMSEntities" connectionString="metadata=res://*/Models.BarrierFreeTMSModels.BarrierFreeTMS.csdl|res://*/Models.BarrierFreeTMSModels.BarrierFreeTMS.ssdl|res://*/Models.BarrierFreeTMSModels.BarrierFreeTMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=60.199.132.84;initial catalog=BarrierFreeTMS;persist security info=True;user id=sa;password=C04Ul424638389;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BarrierFreePassengerEntities" connectionString="metadata=res://*/Models.BarrierFreePassengerModels.BarrierFreePassenger.csdl|res://*/Models.BarrierFreePassengerModels.BarrierFreePassenger.ssdl|res://*/Models.BarrierFreePassengerModels.BarrierFreePassenger.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=60.199.132.84;initial catalog=BarrierFreePassenger;user id=sa;password=C04Ul424638389;MultipleActiveResultSets=True;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>